body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbarr{
  position: fixed;
  padding: 10px 103px 0px 103px;
  top: 0px; left: 0px; right: 0px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
a.logoo{
  font-size: 26px;
  text-decoration: none;
  color: #545454;
  margin-top: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding-left: 10px;
  border-left: 8px solid #e96b56;
}

.nav-menuu ul{
  gap: 2.5rem;
  padding-top: 10px;
  display: flex;
  
}
.nav-menuu ul li a{
  text-decoration: none;
  color: #545454;
}
.nav-menuu ul li a:hover{
  color: #e96b56;
}

li{
  list-style: none;
  text-transform: capitalize;
  padding-top: .8rem;
  color: #545454;
  cursor: pointer;
}
li:hover{
  color: #e96b56;
}
a{
  text-decoration: none;
  list-style: none;
  color: #545454;
}


ul.submenu{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 ;
  /* width: 9rem; */
  display: none;
}
ul.sub-submenu{
  position: absolute;
  top: 60%;
  right: 91%;
  width: 15rem;
  display: none;
  padding: 1rem;

}
.nav-menuu ul li:hover > ul {
  display: block;
  background: #fff;
}


i.chevron--down{
  padding-left: .5rem;
}
.right-arow{
  margin-left: .6rem;
}
#menu-bars{
  display: none;
}
@media (max-width:1176px){
  html{
    font-size: 85%;
  }
  header{
    padding: 1rem 2rem;
  }
}
@media (max-width:1047px){
  html{
    font-size: 75%;
  }
  header{
    padding: 1rem 2rem;
  }
}
@media (max-width:965px){
  html{
    font-size: 65%;
  }
  header{
    padding: 1rem 2rem;
  }
}

@media(max-width:881px){
 header #menu-bars{
  display: inline-block;
}
.nav-menuu{
  position: absolute;
  top:100%; left: 0; right: 0;
  background: #fff;
  border-top: .1rem solid rgba(0,0,0,.2);
  border-bottom: .1rem solid rgba(0,0,0,.2);
  padding: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav-menuu.active{ 
  display: inline-block;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav-menuu ul{
  display: block;
  padding: 1.5rem;
  margin: 1rem;
  background: #eee;
}
ul.submenu{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 ;
  /* width: 9rem; */
  display: none;
  bottom: 10%;
  left: 20%;
}
ul.sub-submenu{
  position: absolute;
  /* bottom: 10%;
  right: 20%; */
  right: -145%;
  top: -26%;


  width: 15rem;
  display: none;
  padding: 1rem;

}
.nav-menuu ul li:hover > ul {
  display: block;
  background: #fff;
 
}
}




.hero{
  margin-top: 5.6%;
  text-align: center;
 
  color: #fff;
}

.first-divv{
  background-image: url(https://bootstrapmade.com/demo/templates/Eterna/assets/img/slide/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10rem;
}
.secnd-divv{
  background-image: url(https://bootstrapmade.com/demo/templates/Eterna/assets/img/slide/slide-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width: 100%;
  padding: 10rem;
}
.thrd-divv{
  background-image: url(https://bootstrapmade.com/demo/templates/Eterna/assets/img/slide/slide-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10rem;
}
.hero-content{
  display: flex;
  flex-direction: column;
  padding: 15rem;

}
.hero-h{
color: #3b3b3b;
}
p.hero--p{
  color: #545454;
  text-align: center;
}
button.hero-b{
  padding:12px 32px;
  background-color: #e96b56;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  margin: 10PX;

}
.fetr{
  margin: 0 5rem;
}
.features{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.feature-box{
  margin:2rem auto;
  padding: 40px 30px;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 15%);
}
.icon-size{
  font-size: 3rem;
  color: #e96b56;
  /* margin: 4rem 0 0 2.5rem; */
}
.fetr-h , .fetr-p{
  /* margin: 1rem 0 1rem 2.5rem; */
  text-align: left;
}

.feature-box:hover{
  background-color: #e96b56;
  color: #fff;

}
.feature-box:hover i {
  color: #fff;

}
.feature-box:hover p{
  color: #fff;
}

.client-head{
  margin: 3rem 45%;
  text-align: center;
  border-bottom: 5px solid #e96b56;
}
.clint-imag{
  width: 116px;
  margin-right: 120px;
  margin-bottom: 4rem;
  margin-top: 4rem;
  opacity: 0.5;

}
.clint-imag:hover{
  opacity:1.5 ;

}
.form-sect{
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #545454;
  align-items: center;

}
.form-decp{
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
.inp-butn{
  padding: 7px ;
  background-color: #fff;
  border-radius: 30px;;
  margin: 0 auto;

}
input{
  border: none;
  width: 30rem;
}
.form-b{
  border-radius: 25px;
  width: 132px;
  background-color: #e96b56;
  border-radius: 50px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
}

.footer{
  
  background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0;
}



.footer .box-container{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  /* flex-wrap: wrap; */

  
}
.box{
  margin: 0 8rem;
}

.footer .box-container .box h4{
  padding:.5rem 0;
  color: #fff;
  font-size: 16px;
}

.footer .box-container .box a{
  display: block;
  padding:.5rem 0;
  text-decoration: none;
  color:#fff;
}
.footer .box-container .box a span.loc{
  font-family:'Nunito', sans-serif;
  line-height: 2rem;
  padding-left: 1rem;
}
.footer .box-container .box p{
  color: #fff;
}

.footer .box-container .box a:hover{
  color: #e96b56;
}
.socil-l{
  display: flex;

}
.socil-ic{
  padding: .5 2rem;
  
}
.socl{
  color: #fff;
  margin:0 3px;
  font-size: 1.1rem;
}
.socl:hover{
  color: #e96b56;
}
